html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #000;
    font-family: 'IBM Plex Mono';
}


.container {
    margin: 0 auto;
    padding: 0 123.5px;
    max-width: 1400px;
}

.header {
    position: relative;
    display: block;
    height: 765px;
    background-image: url('../resourses/main-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
}

/*=========================*/

.nav {
    width: 100%;
    height: 82px;
    padding-top: 27px;
}

.nav__link_left {
    margin-top: 9px;
    display: inline-block;
    width: 130px;
    height: 39px;
    background-image: url('../resourses/Logo.png');
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 39px;
    color: #1bff07;
}

.nav__list {
    margin-top: 6px;
    float: right;
    vertical-align: top;
    display: inline-block;
}

.nav__link {
    margin-right: 50px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    color: #1bff07;
    cursor: pointer;
}

.nav__link:nth-last-child(1) {
    margin-right: 0;
}

.hero__title {
    position: absolute;
    bottom: 94px;
    width: 919px;
    font-weight: 400;
    font-size: 80px;
    line-height: 68px;
    letter-spacing: -2.9px;
    color: #1bff07;
}


.hero__text {
    position: absolute;
    top: 334px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #fff;
}


/*=========================*/
main {
    padding-top: 150px;
}

.projects__title,
.skills__title {
    color: #fff;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -2px;
}

h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #fff;
}


/*===================================*/

.projects__title {
    margin-bottom: 40px;
}

.project {
    position: relative;
      
}

.project__img {
    display: block;
    height: 550px;
    object-fit: cover;
    border-radius: 32px;
}

.project__title {
    position: absolute;
    left: 50px;
    bottom: 94px;
}

.project__text {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-weight: 400;
    line-height: 39px;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #fff;
}

.projects__btn {
    margin-top: 80px;
    display: block;
    width: 582px;
    background-color: #1bff07;
    border-radius: 10px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.03em;
    line-height: 153px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.projects__btn:hover {
    color: #1bff07;
    background-color: #000;
    border: 1px solid #1bff07;
}

/*=====================================*/

.skills {
    margin-top: 150px;
}

.skills__list {
    margin-bottom: 150px;
}

.skills__title{
    margin-bottom: 48px;
}
.skill {
    margin-bottom: 60px;
}

.skill:nth-last-child(1) {
    margin-bottom: 0;
}

.skill__title {
    position: relative;
    margin-bottom: 15px;
    color: #1bff07;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
}

.skill__img {
    margin-bottom: 12px;
    display: block;
    margin-left: 2px;
    width: 45px;
    height: 44px;
    }

.skill__text {
    display: block;
    width: 778px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #fff;
}

/*=======================================*/

.services {
    margin: 150px 0;
}

.services__title {
    padding-top: 12px;
    margin-bottom: 74px;
    display: block;
    width: 403px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #fff;
}

.service {
    margin-bottom: 74px;
}

.service:nth-last-child(2) {
    margin-bottom: 160px;
}

.service:nth-last-child(1) {
    margin-bottom: 0;
}

.service__img {
    height: 200px;
    border-radius: 30px;
}

.service__info {
    display: block;
    padding: 40px 40px;
    background-color: #191C19;
    border-radius: 30px;
}

.service__title {
    margin-bottom: 15px;
    color: #1bff07;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
}

.service__text {
    display: block;
    width: 749px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #fff;
}

/*=======================================*/

.contacts {
    position: relative;
    min-width: 1400px;
    height: 717px;
    background-color: #191C19;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 30px;
}

.contacts__img {
    background-image: url('../resourses/Contacts.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.contacts__link {
    display: block;
    margin-bottom: 20px;

}

.contacts__text {
    display: block;
    position: absolute;
    top: 320px;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #fff;
}

.contacts__list {
    position: absolute;
    top: 408px;
}

.contacts__link_inst,
.contacts__link_tlg,
.contacts__link_mail {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #fff;
}

.contacts__link_inst:hover,
.contacts__link_tlg:hover,
.contacts__link_mail:hover {
    color: #1bff07;
}

/*=======================================*/

.footer {
    min-width: 1400px;
    padding-top: 76px;
    padding-bottom: 90px;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
}
.footer__title {
    margin-bottom: 66px;
    font-family: "Manrope";
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.03em;
    word-spacing: 1px;
    color: #000;
}

.footer__text {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #000;
    line-height: 27px;
    opacity: 0.5;
}